<div class="testimonial-slider">
        <div class="testimonial-card">
            <div class="testimonial-icon">
                <img src="quotes.svg" alt="quote-icon">
            </div>
            <div class="testimonial-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni minima modi ipsa doloribus rem aliquid ullam repudiandae quis harum accusamus, odio ea id.
            </div>
            <div class="testimonial-image">
                <img src="https://randomuser.me/api/portraits/men/3.jpg" alt="gravatar">
            </div>
            <div class="testimonial-name">
                John Doe
            </div>
        </div>
        <div class="testimonial-card">
            <div class="testimonial-icon">
                <img src="quotes.svg" alt="quote-icon">
            </div>
            <div class="testimonial-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni minima modi ipsa doloribus rem aliquid ullam repudiandae quis harum accusamus, odio ea id.
            </div>
            <div class="testimonial-image">
                <img src="https://randomuser.me/api/portraits/men/3.jpg" alt="gravatar">
            </div>
            <div class="testimonial-name">
                John Doe
            </div>
        </div>
        <div class="testimonial-card">
            <div class="testimonial-icon">
                <img src="quotes.svg" alt="quote-icon">
            </div>
            <div class="testimonial-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni minima modi ipsa doloribus rem aliquid ullam repudiandae quis harum accusamus, odio ea id.
            </div>
            <div class="testimonial-image">
                <img src="https://randomuser.me/api/portraits/men/3.jpg" alt="gravatar">
            </div>
            <div class="testimonial-name">
                John Doe
            </div>
        </div>
        <div class="testimonial-card">
            <div class="testimonial-icon">
                <img src="quotes.svg" alt="quote-icon">
            </div>
            <div class="testimonial-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni minima modi ipsa doloribus rem aliquid ullam repudiandae quis harum accusamus, odio ea id.
            </div>
            <div class="testimonial-image">
                <img src="https://randomuser.me/api/portraits/men/3.jpg" alt="gravatar">
            </div>
            <div class="testimonial-name">
                John Doe
            </div>
        </div>
        <div class="testimonial-card">
            <div class="testimonial-icon">
                <img src="quotes.svg" alt="quote-icon">
            </div>
            <div class="testimonial-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni minima modi ipsa doloribus rem aliquid ullam repudiandae quis harum accusamus, odio ea id.
            </div>
            <div class="testimonial-image">
                <img src="https://randomuser.me/api/portraits/men/3.jpg" alt="gravatar">
            </div>
            <div class="testimonial-name">
                John Doe
            </div>
        </div>
        <div class="testimonial-card">
            <div class="testimonial-icon">
                <img src="quotes.svg" alt="quote-icon">
            </div>
            <div class="testimonial-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni minima modi ipsa doloribus rem aliquid ullam repudiandae quis harum accusamus, odio ea id.
            </div>
            <div class="testimonial-image">
                <img src="https://randomuser.me/api/portraits/men/3.jpg" alt="gravatar">
            </div>
            <div class="testimonial-name">
                John Doe
            </div>
        </div>
    </div>